body,
html {
  height: 100%;
  margin: 0;
  font-family: "Baloo 2", cursive;
  color: #e7e9f0;
  overflow-x: hidden;
}

body::before {
  content: "";
  background: url("./bg.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.69;
  z-index: -1;
}
