.nameCard {
  margin: 10px;
  padding: 10px;
  background: #a592f2;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.nameCard:hover {
  transform: scale(1.15);
}

.nameCard_item {
  margin: 0;
  font-weight: 300;
}

.links {
  color: black;
  text-decoration: none;
}
