.searchbox {
  display: flex;
  justify-content: center;
  margin: 8px;
}

.searchbox_input {
  width: 250px;
  padding: 5px;
  font-size: 20px;
  color: black;
  background: #a592f2;
  border-radius: 50px;
  border-width: 0;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.searchbox_input::placeholder {
  font-size: 18px;
  text-align: center;
  color: black;
}

.searchbox_input:focus {
  outline: none;
}
